{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block head %}
    <link href="{% static 'chosen/chosen.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% with provider_name=account.get_provider.name site_name=site.name %}
                        <p class="panel-heading-title"><span class="panel-title">
                            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are
                                about to use your {{ provider_name }} account to login to
                                {{ site_name }}. As a final step, please complete the following
                                form:{% endblocktrans %}</span>
                        </p>
                    {% endwith %}
                </div>
                <div class="panel-body">
                    {% include 'forms/signup_from_social.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_at_end %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
{% endblock js_at_end %}