{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% get_providers as socialaccount_providers %}

    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-heading-title"><span class="panel-title">{% trans "Sign In" %}</span> <a href="{{ signup_url }}"
                                                                                             class="panel-reg">{% trans "Sign Up" %}</a>
                    </p>
                </div>
                <div class="panel-body login-panel">
                    <div class="col-md-5">
                        {% include 'forms/login.html' %}

                    </div>

                    <div class="col-md-1">
                        <div class="border-1"></div>

                        <div class="or">
                            <p>{% trans 'or' %}</p>
                        </div>

                        <div class="border-2"></div>
                    </div>

                    <div class="col-md-5">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

                        {% include "socialaccount/snippets/login_extra.html" %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
