{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}


{% block head %}
    <link href="{% static 'chosen/chosen.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-heading-title"><span class="panel-title">{% trans "Sign Up" %}</span></p>
                </div>
                <div class="panel-body">
                    {% include 'forms/signup.html' %}
                </div>
                <div class="panel-footer panel-regist-footer">

                    <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_at_end %}
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
{% endblock js_at_end %}