<nav>
    <ul class="pagination">
        {% for page in pages %}
            {{ page|default_if_none:'<li class="disabled"><span class="endless_separator">...</span></li>' }}
        {% endfor %}
    </ul>
</nav>