{% load widget_tweaks %}
{% if form.attached_image %}
    <div class="form-group form-group-chat {% if form.attached_image.errors %}has-error{% endif %}">
        {{ form.attached_image|add_class:'file-input'|attr:'accept:image/*' }}
        {% include 'forms/includes/form_field_errors.html' with form_field=form.attached_image %}

    </div>
{% else %}
    <div class="form-group {% if form.image.errors %}has-error{% endif %}">
        <label class="">{{ form.image.label }}</label>

        {{ form.image|add_class:'file-input'|attr:'accept:image/*' }}

        {% include 'forms/includes/form_field_errors.html' with form_field=form.image %}

    </div>
{% endif %}