{% if form.non_field_errors %}
    <ul class="list-unstyled">
        {% for error in form.non_field_errors %}
            <li class="alert alert-danger text-center">
                {{ error|escape }}</li>
        {% endfor %}
    </ul>
{% endif %}
