{% load widget_tweaks %}
<div class="form-group {% if form_field.errors %}has-error{% endif %}">
    <label class="">{{ form_field.label }}</label>
    {% if input_sm and not_required %}
        {{ form_field|add_class:'form-control input-sm' }}
    {% elif input_sm %}
        {{ form_field|add_class:'form-control input-sm'|attr:'required' }}
    {% elif not_required and chosen_select %}
        {{ form_field|add_class:'form-control chosen-select' }}
    {% elif not_required %}
        {{ form_field|add_class:'form-control' }}
    {% elif chosen_select %}
        {{ form_field|add_class:'chosen-select' }}
    {% else %}
        {{ form_field|add_class:'form-control'|attr:'required' }}
    {% endif %}
    {% include 'forms/includes/form_field_errors.html' %}
</div>