{% load i18n %}

<div class="form-group {% if form.rules.errors %}has-error{% endif %}">
    <div class="checkbox">
        <label>
            {{ form.rules }} {% blocktrans %}I agree to the <a href="#">site rules</a>{% endblocktrans %}
        </label>
    </div>
    {% include 'forms/includes/form_field_errors.html' with form_field=form.rules %}
</div>