{% load widget_tweaks %}
{% load i18n %}

<form method="POST" action="{% url 'account_login' %}">

    {% include 'forms/includes/form_non_field_errors.html' %}

    {% csrf_token %}
    <div class="form-group inner-addon left-addon {% if form.login.errors %}has-error{% endif %}">
        <div class="controls">
            <i class="form-control-feedback glyphicon glyphicon-envelope"></i>

            {{ form.login|add_class:'form-control'|attr:'required' }}
            {% include 'forms/includes/form_field_errors.html' with form_field=form.login %}

        </div>
    </div>
    <div class="form-group inner-addon left-addon {% if form.email.errors %}has-error{% endif %}">
        <div class="controls">
            <i class="form-control-feedback glyphicon glyphicon-lock"></i>

            {{ form.password|add_class:'form-control'|attr:'required' }}
            {% include 'forms/includes/form_field_errors.html' with form_field=form.password %}

        </div>
    </div>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="checkbox">
        <label>
            {{ form.remember }} {{ form.remember.label }}
        </label>
    </div>
    <button type="submit" class="btn btn-primary  btn-login">{% trans "Sign In" %}</button>
    <a href="{% url 'account_reset_password' %}" class="foggot-pass">{% trans "Forgot Password?" %}</a>

</form>