{% load widget_tweaks %}
{% load i18n %}

<form id="signup_form" method="post" action="{% url 'account_signup' %}">

    {% include 'forms/includes/form_non_field_errors.html' %}
    {% csrf_token %}
    {% include 'forms/includes/form_field.html' with form_field=form.username input_sm='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.email input_sm='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.password1 input_sm='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.password2 input_sm='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.sex not_required='True' chosen_select='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.age input_sm='True' %}
    {% include 'forms/includes/form_field.html' with form_field=form.country not_required='True' chosen_select='True' %}
    {% include 'forms/includes/rules_field.html' %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary  btn-registr">{% trans "Sign Up" %}</button>

</form>