{% extends "base_with_banners.html" %}
{% load i18n %}

{% block title %}{% trans 'Rating' %}{% endblock %}

{% block bannered_content %}
    {% if category_pk %}

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="rating-monthly text-center">
                            <a href="{% url 'eloboosted:rating' category_pk 'new' %}">{% trans 'New' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="rating-absolute  text-center">
                            <a href="{% url 'eloboosted:rating' category_pk 'absolute' %}">{% trans 'Absolute' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        {% include 'eloboosted/includes/categories.html' with rating=True %}
    {% endif %}
{% endblock %}