{% extends 'base_with_banners.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Comparison' %}{% endblock %}

{% block head %}
    <link href="{% static 'bootsrap-file-input/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock head %}

{% block bannered_content %}
    {% if category_list %}

        {% include 'eloboosted/includes/categories.html' with comparison=True %}

    {% else %}

        <div class="row">
            {% include 'eloboosted/includes/image_container.html' with image=image_1 for_comparison=True %}
            {% include 'eloboosted/includes/image_container.html' with image=image_2 for_comparison=True %}
        </div>
    {% endif %}
{% endblock %}

{% block js_at_end %}
    <script src="{% static 'js/image_controls.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput_locale_ru.js' %}"></script>
{% endblock %}

{% block modals %}
    {% include 'usermanagement/modals/images_of_user.html' %}
    {% if request.user.likes_balance %}
        {% include 'usermanagement/modals/likes.html' %}
    {% endif %}
    {% include 'usermanagement/modals/send_message.html' %}
{% endblock %}