{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Rating' %}{% endblock %}

{% block head %}
    <link href="{% static 'bootsrap-file-input/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock head %}

{% block content %}
    {% for image in image_list %}
        {% include 'eloboosted/includes/image_container.html' with image=image for_rating=True %}
    {% empty %}
        {% trans 'No images' %}
    {% endfor %}
{% endblock %}

{% block js_at_end %}
    <script src="{% static 'js/image_controls.js' %}"></script>
    <script src="{% static 'js/jquery.lazyload.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput_locale_ru.js' %}"></script>
    <script>
        $(function () {
            $("img.lazy").lazyload();
        });
    </script>
{% endblock %}

{% block modals %}
    {% include 'usermanagement/modals/images_of_user.html' %}
    {% if request.user.likes_balance %}
        {% include 'usermanagement/modals/likes.html' %}
    {% endif %}
    {% include 'usermanagement/modals/send_message.html' %}
{% endblock %}