{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Upload' %}{% endblock title %}

{% block head %}
    <link href="{% static 'bootsrap-file-input/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock head %}

{% block content %}
    {% if has_uploaded_image %}
        <h4>{% trans "You already have an uploaded image." %}
            <a href="{% url 'account_login' %}">{% trans "Log In" %}</a> {% trans "and it will show up in your profile." %}</h4>
    {% else %}
        {% if request.user.get_images_count < 3 or not request.user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post" enctype="multipart/form-data">

                        {% include 'forms/upload.html' %}

                        <button type="submit" class="btn btn-primary">{% trans 'Upload' %}</button>
                    </form>
                </div>
            </div>

        {% else %}
            <h4>{% trans "You can't upload more than 3 images." %}</h4>
        {% endif %}
    {% endif %}
{% endblock %}

{{% block js_at_end %}
    <script src="{% static 'bootsrap-file-input/js/fileinput.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput_locale_ru.js' %}"></script>
{% endblock js_at_end %}