.banner {
    background-color: #c76489;
    padding: 15px;
    margin-bottom: 20px;
}

.banner-p {
    color: #fff;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    pointer-events: none;
    color: #999999;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.panel-default {
    border: none;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border: none;
}

.login-panel {
    padding-left: 50px;
    padding-bottom: 10px;
}

.panel-title {
    text-transform: uppercase;
    color: #676767;
    font-weight: bold;
}

a.panel-reg {
    color: #0073ff;
    font-weight: bold;
    float: right;
    font-size: 14px;
}

p.panel-heading-title {
    border-bottom: solid 1px #f3f3f3;
    padding: 10px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-footer p {
    color: #676767;
    font-size: 14px;
}

.panel-regist-footer {
    background-color: #2c3e50;
}

.panel-regist-footer p {
    color: #fff;
}

button.btn-registr {
    display: block;
    background-color: #16a085;
    border: none;
    width: 70%;
    margin: 0 auto;
    border-radius: 0;
}

button.btn-login {
    width: 50%;
    display: inline-block;
    margin-right: 10px;
    background-color: #0090ff;
    border: none;
}

.foggot-pass {
    color: #9e9e9e;
}

.resend, .login {
    color: #9e9e9e;
}

a.resend:hover, a.login:hover, a.foggot-pass:hover {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
}

.border-1,
.border-2 {
    margin-left: 10px;
    height: 30px;
    border-left: solid 1px #ccc;
}

.or p {
    color: #8f8f8f;
    font-size: 12px;
}

ul.list-inline {

}

.panel-ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-image: url('../img/panel-ico.png');
    background-repeat: no-repeat;
}

.ico-favor {
    background-position: 0 0;
}

/*.ico-favor:hover{*/
/*background-position: -40px 0;*/
/*}*/
.ico-favor-on {
    background-position: -40px 0;
}

.ico-favor-off {
    background-position: 0 0;
}

.ico-invite {
    background-position: -80px 0;
    opacity: 0.7;
}

.ico-invite:hover {
    opacity: 1;
}

.ico-like {
    background-position: -120px 0;
}

.ico-like-on {
    background-position: -160px 0;
}

.ico-like-off {
    background-position: -120px 0;
}

.ico-like-dislike {
    background-position: -200px 0;
}

.ico-like:hover {
    background-position: -160px 0;
}

.ico-info {
    background-position: -240px 0;
    opacity: 0.7;
}

.ico-info:hover {
    opacity: 1;
}

a.btn-default.vk-btn {
    border: none;
    background-color: #4f7195;
    color: #fff;
}

a.btn-default.vk-btn:hover {
    opacity: 0.8;
}

a.btn-default.fb-btn {
    border: none;
    background-color: #0e5eb5;
    color: #fff;
}

a.btn-default.fb-btn:hover {
    opacity: 0.8;
}

a.btn-default.gpl-btn {
    border: none;
    background-color: #b11717;
    color: #fff;
}

a.btn-default.gpl-btn:hover {
    opacity: 0.8;
}

.form-control {
    background-color: #f1f1f1;
    border: none;
}

.input-group-addon:last-child {
    border: none;
}

.rubric-1 {
    background-color: #a6c84f;
    padding: 80px;
}

.rubric-2 {
    background-color: #f59855;
    padding: 80px;
}

.rating-daily {
    background-color: #6CFF6F;
    padding: 80px;
}

.rating-weekly {
    background-color: #C76CFF;
    padding: 80px;
}

.rating-monthly {
    background-color: #5784FF;
    padding: 80px;
}

.rating-absolute {
    background-color: #FF3943;
    padding: 80px;
}

.rubric-1:hover,
.rubric-2:hover,
.rating-daily:hover,
.rating-weekly:hover,
.rating-monthly:hover,
.rating-absolute:hover {
    opacity: 0.9;
}

.rubric-1 a,
.rubric-2 a,
.rating-daily a,
.rating-weekly a,
.rating-monthly a,
.rating-absolute a {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

.rubric-1 a:hover,
.rubric-2 a:hover,
.rating-daily a:hover,
.rating-weekly a:hover,
.rating-monthly a:hover,
.rating-absolute a:hover {
    text-decoration: none;
    font-weight: bold;
}

.nav-pills {
    background-color: #fff;
    margin-bottom: 20px;
}

header.profile-header {
    margin-top: -40px;
}

.nav-pills > li > a {
    border-radius: 0;
    padding: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #4e6a80;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.added-img {
    border: 10px solid #fff;
}

.add-img {
    width: 50%;
    background-color: #4DBACA;
    border: none;
    color: #fff;
    margin: 0 auto;
}

.add-img:hover {
    background-color: #53CAA5;
    color: #fff;
}

.add-img p a:hover {
    font-weight: bold;
}

span.like-profile {
    width: 40px;
    height: 40px;
    background-image: url('../img/panel-ico.png');
    background-position: -160px 0;
}

.badge {
    vertical-align: top;
}

.messages h3, .friends-name h3 {
    margin-top: 10px;
}

hr {
    max-width: none;
    border-color: #D0CBCB;
    margin-top: 0;
}

.set-private {
    margin: 20px;
}

.btn-private {
    border: none;
    background-color: #4B7A9E;
    border-radius: 0;
}

form.upload {
    padding: 10px;
}

button.delete {
    margin: 10px 0;
}

.alert {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

button.close {
    right: 0 !important;
}

.badge {
    background-color: #71A1C7;
}

ul.list-unstyled.alert-messages {
    margin-top: -20px;
}
.center{
    text-align: center;
}
.form-group-chat{
    margin-bottom: 0!important;
}

.sent-message{
    background-color: #9CD6F1;
    margin-bottom: 10px;
    text-align: right;
    float: right;
    border-radius: 10px;
    padding: 10px;
}
.received-message{
    background-color: #9BEFB2;
    margin-bottom: 10px;
    text-align: left;
    float: left;
    border-radius: 10px;
    padding: 10px;
}
.well-chat{
    margin-top: 10px;
}
.bg-white{
    background-color: #fff;
}
.lang-ico{
    display: inline-block;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    background-image: url('../img/ico-lang.png');
    background-repeat: no-repeat;

}
.en{
    background-position: 0 0;
}
.ru{
    background-position: -50px 0;
}