{% load i18n %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans 'Images of user' %} {{ image_list.0.owner }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        {% for image in image_list %}
            {% include 'eloboosted/includes/image_container_for_user.html' %}
        {% endfor %}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
</div>
