{% extends "usermanagement/profile_base.html" %}

{% load widget_tweaks %}
{% load static %}
{% load usermanagement_tags %}
{% load i18n %}
{% block title %}{% trans "Chat" %}{% endblock title %}

{% block head %}
    <link href="{% static 'bootsrap-file-input/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock head %}


{% block content %}

    <div class="row">
        <div class="col-lg-8 messages">
            <h3>
                {% if chat_messages %}{% trans "Chatting with user" %} {{ companion }}
                {% else %}{% trans "Chat" %}{% endif %}
            </h3>
            <hr>

            {% if chat_messages %}

                <div class="">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'forms/includes/form_non_field_errors.html' %}
                        <table>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group {% if form.text.errors %}has-error{% endif %}">
                                        {{ form.text|add_class:'form-control bg-white'|attr:'rows:4'|attr:'cols:100' }}
                                        {% include 'forms/includes/form_field_errors.html' with form_field=form.text %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% include 'forms/includes/file_field.html' %}
                                </td>

                                <td>
                                    <button type="submit" class="btn btn-primary pull-right">{% trans "Send" %}</button>
                                </td>
                        </table>
                    </form>
                </div>

                <div class="well well-chat">
                    {% load endless %}
                    {% paginate 10 chat_messages %}

                    {% for message in chat_messages %}
                        <div class="row">
                            <div class="{% if message.receiver == request.user %}received-message{% else %}sent-message{% endif %}">
                                {{ message.date_sent }}<br>{{ message.text }}
                                {% if message.attached_image %}
                                    <div class="panel panel-default"><div class="panel-body"><img src="{{ message.attached_image.url }}" class="img-responsive"></div></div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% show_pages %}
                </div>

            {% else %}
                {% trans "Select a user" %}
            {% endif %}
        </div>

        <div class="col-lg-4 friends-name">
            <h3>{% trans "Users" %}</h3>
            <hr>
            <div class="">
                {% for user in chat_users %}
                    <a href="{% url 'usermanagement:chat' user.pk %}">{{ user }}
                        {% if user|unread_msg_count:request %}
                            <span class="badge">{{ user|unread_msg_count:request }}</span>
                        {% endif %}
                    </a><br>
                {% empty %}
                    {% trans "No users to chat with." %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_at_end %}
    <script src="{% static 'bootsrap-file-input/js/fileinput.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput_locale_ru.js' %}"></script>
{% endblock js_at_end %}