{% extends 'usermanagement/profile_base.html' %}
{% load i18n %}

{% block title %}{% trans "Likes" %}{% endblock title %}

{% block content %}

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#received" aria-controls="received" role="tab"
                                                      data-toggle="tab">{% trans "Received" %}</a>
            </li>
            <li role="presentation"><a href="#sent" aria-controls="sent" role="tab"
                                       data-toggle="tab">{% trans "Sent" %}</a>
            </li>
            <li role="presentation"><a href="#bought" aria-controls="bought" role="tab"
                                       data-toggle="tab">{% trans "Bought" %}</a></li>
            <li role="presentation"><a href="#out" aria-controls="out" role="tab"
                                       data-toggle="tab">{% trans "Out" %}</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="received">
                {% include 'usermanagement/includes/like_table.html' with like_qs=request.user.received_likes.all %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="sent">
                {% include 'usermanagement/includes/like_table.html' with like_qs=request.user.sent_likes.all %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="bought">
                {% include 'usermanagement/includes/like_table.html' with like_qs=request.user.likesbuying_set.all %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="out">
                {% include 'usermanagement/includes/like_table.html' with like_qs=request.user.likesout_set.all %}
            </div>
        </div>

    </div>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#buy_likes_modal">
        {% trans "Buy likes" %}
    </button>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#out_likes_modal">
        {% trans "Out likes" %}
    </button>
{% endblock content %}

{% block modals %}
    {% include 'usermanagement/modals/buy_likes.html' %}
    {% include 'usermanagement/modals/out_likes.html' %}
{% endblock modals %}