{% extends "usermanagement/profile_base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block head %}
    <link href="{% static 'bootsrap-file-input/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock head %}

{% block content %}
    <div class="row">
        {% include 'usermanagement/includes/image_container_profile.html' with image=request.user.image_set.all.0 %}
        {% include 'usermanagement/includes/image_container_profile.html' with image=request.user.image_set.all.1 %}
        {% include 'usermanagement/includes/image_container_profile.html' with image=request.user.image_set.all.2 %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="set-private">
                <p class="text-center"><a class="btn btn-default btn-primary btn-private" data-toggle="collapse"
                                          href="#collapsePrivacy" aria-expanded="false"
                                          aria-controls="collapsePrivacy">{% trans "Privacy settings" %}</a></p>

                <div id="collapsePrivacy" class="collapse well">
                    <form action="{% url 'usermanagement:change_privacy_settings' %}" method="post">
                        {% csrf_token %}
                        <label><input type="checkbox" name="allow_messages"
                                      {% if request.user.allow_messages %}checked{% endif %}>{% trans "Allow users to send you messages" %}
                        </label><br>
                        <label><input type="checkbox" name="allow_see_all_images"
                                      {% if request.user.allow_see_all_images %}checked{% endif %}>{% trans "Allow users to view your images" %}
                        </label><br>
                        <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_at_end %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput.js' %}"></script>
    <script src="{% static 'bootsrap-file-input/js/fileinput_locale_ru.js' %}"></script>
{% endblock js_at_end %}

{% block modals %}
    {% if request.user.get_images_count < 3 %}
        {% include 'usermanagement/modals/upload.html' %}
    {% endif %}
    {% include 'usermanagement/modals/delete.html' %}
{% endblock modals %}
