{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block before_content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center">
                <a href="{% url 'usermanagement:profile' %}">
                    <img src="{% static 'img/profile.png' %}" title="{% trans "Profile" %}">
                </a>

                <a href="{% url 'usermanagement:chat_page' %}">
                    <img src="{% static 'img/mes-profile.png' %}" title="{% trans "Messages" %}">
                </a>
                <span class="badge">{{ request.user.get_unread_messages_count }}</span>

                <a href="{% url 'usermanagement:favorites' %}">
                    <img src="{% static 'img/fav-profile.png' %}" title="{% trans "Favorites" %}">
                </a>
                <span class="badge">{{ request.user.favorite_images.count }}</span>

                <a href="{% url 'usermanagement:likes' %}">
                    <img src="{% static 'img/like-profile.png' %}" title="{% trans "Likes" %}">
                </a>
                <span class="badge">{{ request.user.likes_balance }}</span>
            </p>
        </div>
    </div>
{% endblock before_content %}