<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="rubric-1 text-center">
                    <a href="{% if comparison %}
                             {% url 'eloboosted:comparison' category_list.0.pk %}
                             {% elif rating %}
                             {% url 'eloboosted:sort_for_rating' category_list.0.pk %}
                             {% endif %}"
                       class="rubric-1">{{ category_list.0 }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="rubric-2  text-center">
                    <a href="{% if comparison %}
                         {% url 'eloboosted:comparison' category_list.1.pk %}
                         {% elif rating %}
                         {% url 'eloboosted:sort_for_rating' category_list.1.pk %}
                         {% endif %}"
                       class="rubric-2">{{ category_list.1 }}</a>
                </div>
            </div>
        </div>
    </div>
</div>