<div class="col-lg-4">
    <img src="{{ image.compressed_image.url }}" class="img-responsive">
   <ul class="list-unstyled">{% include 'usermanagement/includes/favorite_image_management_link.html' %}</ul>
</div>
