<div class="
{% if for_comparison %}
    col-lg-6
{% elif for_rating %}
    col-lg-12
{% endif %}
">
    <div class="panel panel-default">
        <div class="panel-body">
            {% if for_comparison %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ image.pk }}" name="image_pk">
                    <input type="image" class="img-responsive center-block" src="{{ image.compressed_image.url }}">
                </form>
            {% elif for_rating %}
                <img class="img-responsive center-block lazy" data-original="{{ image.compressed_image.url }}">
            {% endif %}
        </div>

        {% if request.user != image.owner %}
            <div class="panel-footer">
                <ul class="list-inline">
                    {% include 'usermanagement/includes/favorite_image_management_link.html' %}

                    {% include 'usermanagement/includes/all_user_images_link.html' %}

                    {% include 'usermanagement/includes/send_like_link.html' %}

                    {% include 'usermanagement/includes/send_message_link.html' %}

                    <li>Страна: {{ image.owner.country }}</li>

                </ul>
            </div>
        {% endif %}
        {#  qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq  #}
        <p>Текущее эло: {{ image.current_elo }}</p>
        {#  qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq  #}
    </div>
</div>