{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="banner">
                <p class="text-center banner-p">Тест сервиса<br> Группа МО-041 и люди которые с ними бухали</p>
            </section>
        </div>
    </div>
    {% block bannered_content %}{% endblock %}
    <div class="row">
        <div class="col-lg-12">
            <section class="banner">
                <p class="text-center banner-p">Place for your ads</p>
            </section>
        </div>
    </div>
{% endblock %}