{% load static %}
{% load eloboosted_tags %}
{% load i18n %}

<!DOCTYPE html>

<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% trans "Main Page" %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="{% url 'eloboosted:categories_for_comparison' %}"><img
                    src="{% static 'img/logo.png' %}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'eloboosted:upload' %}">{% trans "Add" %}</a>
                </li>
                <li>
                    <a href="{% url 'eloboosted:categories_for_comparison' %}">{% trans "Comparison" %}</a>
                </li>
                <li>
                    <a href="{% url 'eloboosted:categories_for_rating' %}">{% trans "Rating" %}</a>
                </li>

                {% if request.user.is_authenticated %}

                    <li>
                        <a href="
                                {% if request.user.get_unread_messages_count %}
                                {% url 'usermanagement:chat_page' %}
                                {% else %}
                                {% url 'usermanagement:profile' %}
                                {% endif %}">
                            {{ request.user }}
                            {% if request.user.get_unread_messages_count %}
                                <span class="badge">{{ request.user.get_unread_messages_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="">{% trans "About" %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block after_nav %}{% endblock after_nav %}

{% if messages %}
    <ul class="list-unstyled alert-messages">
        {% for message in messages %}
            {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
            <li class="alert alert-{{ alert_tag }} alert-dismissible text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block messages %}{% endblock messages %}

<div class="container">
    {% block before_content %}{% endblock before_content %}
    {% block content %}{% endblock content %}
</div>

<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="list-inline">
                    <li><a href="" class="lang-ico ru"></a></li>
                    <li><a href="" class="lang-ico en"></a></li>
                </ul>

            <br>

                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected="selected"{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>


<script src="{% static 'js/index.js' %}"></script>
<script type="text/javascript">
    setBaseUrl('{{ BASE_URL }}');
    setMaxFileSize({{ MAX_FILE_SIZE }});
</script>
<script>
    function reloadChosenSelect() {
        try {
            $(".chosen-select").chosen({
                width: '100%',
                disable_search_threshold: 5,
                no_results_text: '{% trans "No results found" %}'
            });

        }
        catch (e) {
        }
    }

    $(reloadChosenSelect);

    function feloadFileInputs() {
        try {
            $(".file-input").fileinput({
                browseLabel: "{% trans "Browse images..." %}",
                removeLabel: "{% trans "Remove" %}",
                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                showCaption: false,
                showUpload: false,
                allowedFileTypes: ['image'],
                allowedPreviewTypes: ['image'],
                maxFileSize: MAX_FILE_SIZE * 1024
            });
        }
        catch (e) {
        }
    }
    $(feloadFileInputs);
</script>
{% block js_at_end %}{% endblock %}


{% if show_18_age_modal %}
    {% include 'usermanagement/modals/have_18_age.html' %}
{% endif %}

{% block modals %}{% endblock %}
</body>
</html>