{% if image.owner.allow_see_all_images %}
    {% load i18n %}
    <li>
        <a role="button" class="panel-ico ico-info" title="{% trans "Show user's images" %}"
           onclick="show_images_of_user({{ image.pk }})"></a>
    </li>
{% endif %}