{% if image.owner != request.user %}
    {% load i18n %}
    <li>
        {% if user.is_authenticated %}

            {% if image in request.user.favorite_images.all %}
                <a role="button" class="panel-ico ico-favor ico-favor-on"
                   onclick="toggle_favorite(this, {{ image.pk }})" operation="remove"></a>
            {% else %}
                <a role="button" class="panel-ico ico-favor"
                   onclick="toggle_favorite(this, {{ image.pk }})" operation="add"></a>
            {% endif %}


        {% else %}
            <a href="{% url 'account_login' %}" class="panel-ico ico-favor"
               title="{% trans "Add to favorites" %}"></a>
        {% endif %}
    </li>
{% endif %}