{% load i18n %}

<div class="col-lg-4 col-md-4 col-sm-3">
    {% if image %}
        <img src="{{ image.compressed_image.url }}" class="img-responsive">
        <button class="btn btn-block btn-danger delete" type="button"
                onclick="show_delete_modal('{% url 'usermanagement:delete' image.pk %}')">{% trans 'Remove' %}
        </button>
        <br>
        {% if not image.moderation_passed %}
            <b>{% trans 'On moderation' %}</b><br>
        {% endif %}
        {% trans "Category" %}: {{ image.category }}
    {% else %}
        <button type="button" data-toggle="modal" data-target="#upload_modal" class="btn btn-block add-img">
            {% trans 'Add' %}
        </button>
    {% endif %}
</div>

