{% load i18n %}
{% if like_qs %}
    <table class="table table-striped table-bordered table-condensed table-responsive">
        <thead>
        <tr>
            <th>{% trans 'Amount' %}</th>
            <th>{% trans 'Date' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for like in like_qs %}
            <tr>
                <td>{{ like.amount }}</td>
                <td>{{ like.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% trans 'No data' %}
{% endif %}