<li>
    {% load i18n %}
    {% if user.is_authenticated %}
        {% if request.user.likes_balance %}
            <a role="button" title="{% trans "Transfer likes" %}"
               class="panel-ico ico-like-on"
               onclick="show_likes_modal({{ image.pk }}, '{{ image.owner }}')"></a>
        {% else %}
            <a href="{% url 'usermanagement:profile' %}" title="{% trans "Transfer likes" %}"
               class="panel-ico ico-like-off"></a>
        {% endif %}
    {% else %}
        <a href="{% url 'account_login' %}" title="{% trans "Transfer likes" %}" class="panel-ico ico-like"></a>
    {% endif %}
</li>