{% if image.owner.allow_messages %}
    {% load i18n %}
    <li>
        {% if user.is_authenticated %}
            <a role="button"
               class="panel-ico ico-invite"
               title="{% trans "Send message" %}"
               onclick="show_message_modal({{ image.pk }}, '{{ image.owner }}')"></a>
        {% else %}
            <a href="{% url 'account_login' %}" class="panel-ico ico-invite" title="{% trans "Send message" %}"></a>
        {% endif %}
    </li>
{% endif %}