{% load i18n %}
<div class="modal fade" id="buy_likes_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Buy likes' %}</h4>
            </div>
            <div class="modal-body">
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post"
                      target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UDSKGB363GN7U">
                    <input type="hidden" name="custom" value="{{ request.user.pk }}">

                    <div class="form-group">
                        <label>{% trans "Amount" %}</label>
                        <input class="form-control" type="number" name="quantity" value="1" min="1">
                    </div>
                    {#  qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq  #}
                    <input type="image" src="https://www.sandbox.paypal.com/ru_RU/RU/i/btn/btn_buynowCC_LG.gif"
                           border="0"
                           name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
                    {#  qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq  #}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>