<!-- Modal -->
{% load i18n %}
<div class="modal fade" id="18_age_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">{% trans "Are you 18 years old?" %}</h3>
            </div>
            <div class="modal-footer center">
                <a href="https://www.google.ru/" class="btn btn-default ">{% trans "No" %}</a>
                <a href="{% url 'usermanagement:have_18_age' %}" class="btn btn-primary ">{% trans "Yes" %}</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#18_age_modal').modal({
        'show': true,
        'backdrop': false,
        'keyboard': false
    })
</script>