<div class="modal fade" id="images_of_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="images_of_user_modal_content">

        </div>
    </div>
</div>