{% load i18n %}
<div class="modal fade" id="transfer_likes_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Transfer likes to user" %} <span id="likes_to_user"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">{% trans "Enter amount of likes" %}: <input type="number"
                                                                                                 name="amount"
                                                                                                 id="likes_amount"
                                                                                                 max="{{ request.user.likes_balance }}"
                                                                                                 min="1"
                                                                                                 class="form-control"></label>

                        <p class="help-block">{% trans "Balance" %}: <span
                                id="likes_balance">{{ request.user.likes_balance }}</span></p>
                    </div>
                    <input type="hidden" name="image_pk" id="image_pk_for_likes">
                </div>
                <div id="likes_response"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-primary" onclick="transfer_likes(this)"
                            data-loading-text="Отправка..." autocomplete="off">{% trans "Transfer" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>