{% load i18n %}
<div class="modal fade" id="send_message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Send message to user" %} <span id="message_to_user"></span></h4>
            </div>
            <div class="modal-body">
                <form id="message_data" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>{% trans "Message text" %}<textarea id="message_textarea" name="text" class="form-control"
                                                        cols="100"
                                                        rows="5"></textarea></label>
                    </div>

                    <div class="form-group">
                        <input accept="image/*" class="file-input" id="message_attached_image" name="attached_image"
                               type="file">
                    </div>
                    <input type="hidden" name="image_pk" id="image_pk_for_message">
                </form>
                <div id="message_response"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="button" class="btn btn-primary" onclick="send_message(this)"
                            data-loading-text="Отправка..." autocomplete="off">{% trans "Send" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>