{% load i18n %}
<div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Upload image" %}</h4>
            </div>

                {% if request.user.get_images_count < 3 %}
                    <form action="{% url 'usermanagement:upload' %}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% include 'forms/upload.html' with form=upload_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Upload" %}</button>
                    </div>
                    </form>
                {% endif %}
        </div>
    </div>
</div>
{% if upload_form_invalid %}
    <script>
        $('#upload_modal').modal({'show': true})
    </script>
{% endif %}